Repository Maze7/Tetris, pull requests merged in 2018-10, with the labels that each got.

#29 New memory management and working HighScore menu
  Makefile.am
  src/GameCollection/Collection.cpp
  src/GameCollection/Collection.h
  src/GameCollection/GameCollection.cpp
  src/GameCollection/ICollectionEntry.h
  src/GameCollection/Menu/MenuEntry.cpp
  src/GameCollection/Menu/MenuEntry.h
  src/GameCollection/Tetris/Game.cpp
  src/GameCollection/Tetris/Game.h
  src/GameCollection/Tetris/ScoreScreen.cpp
  src/GameCollection/Tetris/ScoreScreen.h
  src/GameCollection/Tetris/SettingsMenu.cpp
  src/GameCollection/Tetris/SettingsMenu.h
  src/GameCollection/Tetris/TetrisLoader.cpp
  src/GameCollection/Tetris/TetrisLoader.h
  src/GameCollection/Tetris/TetrisMenu.cpp
  src/GameCollection/Tetris/TetrisMenu.h
Labels: GameCollection, TetrisModule

#32 Difficulty
  src/GameCollection/Tetris/Game.cpp
  src/GameCollection/Tetris/Game.h
  src/GameCollection/Tetris/SettingsMenu.cpp
  src/GameCollection/Tetris/SettingsMenu.h
  src/GameCollection/Tetris/TetrisScore.cpp
  src/GameCollection/Tetris/TetrisScore.h
Labels: TetrisModule

#38 Sound during gameplay
  src/GameCollection/Tetris/Game.cpp
  src/GameCollection/Tetris/Game.h
  src/GameCollection/Tetris/SettingsMenu.cpp
  src/GameCollection/Tetris/SettingsMenu.h
Labels: TetrisModule, enhancement

#40 New naming convention
  Makefile.am
  src/GameCollection/Collection.cpp
  src/GameCollection/Collection.h
  src/GameCollection/ICollectionScreen.h
  src/GameCollection/Menu/MainMenuScreen.cpp
  src/GameCollection/Menu/MainMenuScreen.h
  src/GameCollection/Tetris/GameScreen.cpp
  src/GameCollection/Tetris/GameScreen.h
  src/GameCollection/Tetris/MenuScreen.cpp
  src/GameCollection/Tetris/MenuScreen.h
  src/GameCollection/Tetris/ScoreScreen.cpp
  src/GameCollection/Tetris/ScoreScreen.h
  src/GameCollection/Tetris/SettingsScreen.cpp
  src/GameCollection/Tetris/SettingsScreen.h
  src/GameCollection/Tetris/TetrisLoader.cpp
  src/GameCollection/Tetris/TetrisLoader.h
Labels: GameCollection, design
